<div class='container'>
    <div ng-controller='chatController'>
        <div class="well">
            <h4>You are known as: <b ng-bind="nickName"></b> </h4>
            <br/>
            <h4>Change your nickname with <b>/nick [yourNewNick]</b></h4>
        </div>
        <div class='row well'>
            <textarea class="chat-message-log"
                      ng-disable='true' ng-model='messageLog'>
            </textarea>
        </div>
        <div class='row well'>
            <div>
                <form role='form' novalidate name='form'>
                    <br class='form-group'>
                        <textarea class="chat-input" type='text'
                               required ng-max='50' ng-model='message' focus>
                        </textarea>
                        </br></br>
                        <button class='btn btn-lg btn-primary'
                                ng-enable='form.$valid'
                                ng-click="sendMessage(message)">Send!
                        </button>
                </form>
            </div>
        </div>
    </div>
</div>