<div class="col-md-2">
</div>
<div class="col-md-8">
    <div id="map"></div>
    <div class="row" style="display: inline">
        <!--single book-->
        <div class="col-lg-4">
            <div class="thumbnail store-card">
                <h2 class="store-title">The Corner Book Store</h2>
                <img style="height: 170px" src="http://www.newyorksocialdiary.com/legacy/i/partypictures/08_08_12/delia/image043.jpg">
                <br>
                <div>
                    <p><strong>Address: </strong>Moshe Dayan 2, Holon</p>
                    <p><strong>Opening Hours: </strong> 09:00 - 21:00</p>
                    <p><strong>Phone: </strong> +972-3-9085478</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="thumbnail store-card">
                <h2 class="store-title">Shakespeare</h2>
                <img style="height: 170px" src="http://static1.1.sqspcdn.com/static/f/807002/11240265/1324036563300/Shakespeare+Exterior.jpg?token=XXx8%2F3BW3kTcMPHADnAYrqHIumY%3D">
                <br>
                <div>
                    <p><strong>Address: </strong>Ort Israel st 5, Bat Yam</p>
                    <p><strong>Opening Hours: </strong> 09:00 - 21:00</p>
                    <p><strong>Phone: </strong> +972-3-9085478</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="thumbnail store-card">
                <h2 class="store-title">Three Lives</h2>
                <img style="height: 170px" src="http://farm3.static.flickr.com/2732/4467016080_60599c49eb_o.jpg">
                <br>
                <div>
                    <p><strong>Address: </strong>Bar Ilan 12, Bat Yam</p>
                    <p><strong>Opening Hours: </strong> 09:00 - 21:00</p>
                    <p><strong>Phone: </strong> +972-3-9085478</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-2">
</div>