<div class=" text-center">
    <div class="col-md-2">
    </div>

    <!--Content-->
    <div class="col-md-8" style="margin-bottom: 70px">
        <!--quote-->
        <div class="well">
            <h1 class="quote-text">“A room without books is like a body without a soul.” </h1>
        </div>
        <!--video-->
        <div class="well book-video-div">
            <video class="book-video" controls autoplay>
                <source src="./../resources/The Joy of Books.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <!--search-->
        <div class="well">
            <div class="input-group">
                <!--free search-->
                <input id="search-text"
                       type="text"
                       class="form-control search-input"
                       placeholder="Search your favorite book..." flex>
                <div class="input-group-btn" >
                    <!--Categories-->
                    <div style="display:inline;">
                        <button type="button"
                                class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            <span class="glyphicon glyphicon-th"></span>Categoies <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                        <li ng-repeat="genre in allGenres">
                            <input id="{{genre}}" type="checkbox" checked="true">{{genre}}
                            <hr class="drop-down-hr">

                        </li>
                    </ul>
                    </div>
                    <!--Price-->
                    <div style="display:inline;">
                        <button type="button"
                                class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            <span class="glyphicon glyphicon-usd"></span>Price <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            UP TO
                            <input type="number"
                                   min="1"
                                   max="100"
                                   class="price-input"
                                   id="searchMaxPrice"><span style="margin-right: 5px">$</span>
                        </ul>
                    </div>
                    <!--Search-->
                    <div style="display:inline;">
                        <button type="button" ng-click="search()" class="btn btn-primary"> <span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </div>
            </div>
            <div class="alert alert-danger fade in" id="search-error" style="display:none; margin-top: 10px; margin-bottom: 0px">
                <button type="button" class="close">×</button>
                <strong>Bad Search! </strong> {{searchErrorMessage}}
            </div>
        </div>

        <!--allBooks-->
        <div class="row">
            <!--single book-->
            <div class="col-sm-3 col-lg-3 col-md-3" ng-repeat="book in allBooks">
                <div class="thumbnail book-card">
                    <img src="./../resources/{{book.picture}}" alt="">
                    <section class="caption book-card-description">
                        <h4 class="pull-right">{{book.price}}$</h4>
                        <h4 class="book-card-title"><a href="#/book/{{book._id}}">{{book.name}}</a></h4>
                        <h4>{{book.genre}}</h4>
                    </section>

                    <div class="ratings">
                        <label class="pull-right book-card-reviews">{{book.reviews.length}} reviews</label>
                        <p class="pull-left book-card-rating">
                            <span class="glyphicon glyphicon-star" ng-repeat="i in getRating(book.rating) track by $index"></span>
                            <span class="glyphicon glyphicon-star-empty" ng-repeat="i in getRating(5 - book.rating) track by $index"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2">
    </div>
</div>