<div class="col-md-2">
</div>
<div class="col-md-8">
    <div ng-repeat="book in allBooks">
        <button class="btn book-edit-button" data-toggle="collapse" data-target="#book-{{book._id}}">
            <div>
                <h4 class="pull-left"><strong>{{book.name}}</strong> </h4>
                <h5 class="pull-right">{{book.author}} </h5>
            </div>
        </button>
        <div id="book-{{book._id}}" class="collapse">
            <div class="row well">
                <div class="col-md-6">
                <form style="width: 100%">
                    <!--Name-->
                    <div class="form-group">
                        <label for="{{book._id}}-bookName">Book Name</label>
                        <input type="text" class="form-control edit-book-input" id="{{book._id}}-bookName" placeholder="book name..." value="{{book.name}}">
                    </div>
                    <!--Author-->
                    <div class="form-group">
                        <label for="{{book._id}}-bookAuthor">Author</label>
                        <input type="text" class="form-control edit-book-input" id="{{book._id}}-bookAuthor" placeholder="author..." value="{{book.author}}">
                    </div>
                    <!--Price-->
                    <div class="form-group">
                        <label for="{{book._id}}-bookPrice">Price</label>
                        <div>
                            <input type="number" style="max-width: 386px" class="form-control pull-left" id="{{book._id}}-bookPrice" placeholder="0" value="{{book.price}}">
                            <h4>$</h4>
                        </div>
                    </div>
                </form>
                </div>
                <div class="col-md-6">
                    <form style="width: 100%">
                        <!--Category-->
                        <div class="form-group">
                            <label for="{{book._id}}-bookCategory">Select Categories</label>
                            <div id="{{book._id}}-bookCategory">
                                <button type="button"
                                        class="btn btn-default dropdown-toggle categories-change"
                                        data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false">
                                    <span class="glyphicon glyphicon-th"></span>Categoies <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="genre in allGenres">
                                        <input id="{{genre}}" type="checkbox" ng-checked="isCheckCategory(book, genre)">{{genre}}
                                        <hr class="drop-down-hr">
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--publisher-->
                        <div class="form-group">
                            <label for="{{book._id}}-bookPublisher">publisher</label>
                            <input type="text" class="form-control edit-book-input" id="{{book._id}}-bookPublisher" placeholder="publisher..." value="{{book.publisher}}">
                        </div>
                        <!--publishYear-->
                        <div class="form-group">
                            <label for="{{book._id}}-publishYear">publisher</label>
                            <input type="text" class="form-control edit-book-input" id="{{book._id}}-publishYear" placeholder="publish year..." value="{{book.publishYear}}">
                        </div>
                    </form>
                </div>
                <div class="form-group" style="margin-left: 15px">
                    <label for="{{book._id}}-Synopsis">Synopsis</label>
                    <textarea rows="5" type="text" class="form-control edit-book-sys" id="{{book._id}}-synopsis" placeholder="synopsis...">{{book.synopsis}}</textarea>
                    <button type="submit" class="btn btn-danger pull-right edit-book-button">
                        <span class="glyphicon glyphicon-trash"></span>Delete
                    </button>
                    <button ng-click="saveBook(book)" type="button" class="btn btn-success pull-right edit-book-button">
                        <span class="glyphicon glyphicon-floppy-disk"></span> Save
                    </button>
                </div>
                <div style="margin-top: 60px">
                    <div class="alert alert-success fade in" id="success-save-message" style="display:none;">
                        <button type="button" class="close">×</button>
                        <strong>Congratulations!! </strong> The book was udated seccessfuly
                    </div>
                    <div class="alert alert-danger fade in" id="error-save-message" style="display:none;">
                        <button type="button" class="close">×</button>
                        <strong>Error save the book. </strong> Please try again later.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-2">
</div>