<div class="col-md-2">
</div>

<div class="col-md-8">
    <!--Search-->
    <div class="well">
        <div class="input-group">
            <!--Search by book name-->
            <input id="book-name-text"
                   type="text"
                   class="form-control search-input-orders"
                   placeholder="Search orders by book..." flex>
            </input>
            </br></br>
            <!--Search by dates-->
            <div class="form-group">
                <h4>Start Date: </h4><input type="date" id="minDate">
                <h4>End Date: </h4><input type="date" id="maxDate">
            </div>
            <!--Search by customer id-->
            <div>
                <button type="button"
                        class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    <span class="glyphicon glyphicon-user"></span>Customers <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ng-repeat="customer in customers">
                        <input id="{{customer}}" type="checkbox" checked="true">{{customer}}
                        <hr class="drop-down-hr">
                    </li>
                </ul>
            </div>
            </br>
            <!--Search button-->
            <div>
                <button type="button" ng-click="search()" class="btn btn-primary"> <span class="glyphicon glyphicon-search"> Search!</span></button>
            </div>
        </div>
        <div class="alert alert-danger fade in" id="search-error" style="display:none; margin-top: 10px; margin-bottom: 0px">
            <button type="button" class="close">×</button>
            <strong>Bad Search! </strong> {{searchErrorMessage}}
        </div>
    </div>

    <!--all orders-->
    <div class="container">
        <table class="table table-striped orders-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Book Name</th>
                    <th>Costumer Id</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="order in orders">
                    <td>{{order.date | date : "dd/MM/yyyy" }}</td>
                    <td>{{order.bookName}}</td>
                    <td>{{order.customerId}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>