.book-card{
    height: 460px;
    background-color: #f5f5f5;
}

.store-card{
    height: 360px;
    background-color: #f5f5f5;
}

.book-card-description{
    text-align: left;
}

.book-card-title{
    align-text: right;
    height: 38px;
    margin-right: 5px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.book-card-reviews{
    margin-right: 10px;
    font-size: 15px;
}

.book-card-rating{
    margin-left: 10px;
}

.book-video-div{
    padding-top: 0px !important;
    margin-bottom: 20px;
}

.book-video{
    margin-top: 20px;
    width: 854px;
    height: 480px;
}

.our-footer {
    background-color: #333;
    width: 100%;
    height: 40px;
    bottom: 0;
    left: 0;
    position: fixed;
    margin: 0 !important;
}

.footer-text{
    font-family: myFirstFont;
    color: darkgrey;
    margin-right: 10px;
    margin-left: 10px;
}

.footer-name-text{
    color: white;
    font-weight: bold;
}

.navbar .container{
    height: 80px;
    vertical-align: middle;
}

.navbar-inverse{
    background-color: black !important;
}

.quote-text{
    font-family: Old English Text MT;
    margin: 0px;
    text-shadow: 2px 2px #D0D0D0;
}

.dropdown-menu > li > input{
    margin:5px
}

.drop-down-hr{
    margin-bottom: 7px;
    margin-top: 7px
}

.search-input
{
    max-width: 900px !important;
}

.search-input-orders
{
    max-width: 800px !important;
    width: 700px !important;
}

.price-input{
    width: 50px;
    margin-left: 5px;
}

#map {
    width: 97%;
    height: 400px;
    margin-right: 40px;
    margin-left: 15px
}

.store-title{
    text-align: center;
}


@font-face {
    font-family: myFirstFont;
    src: url(../fonts/SansationBold.woff);
}

.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}

.book-edit-button{
    width: 100%;
    margin-top: 8px;
}

.edit-book-input{
    max-width: 400px;
}

.edit-book-sys{
    max-width: 980px;
}

.categories-change{
    max-width: 400px;
}

.edit-book-button{
    margin: 15px 2px 2px 2px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

.chat-input{
    max-width:1500px;
    width:1130px;
    height:80px;
    font-size: 18px
}

.chat-message-log{
    max-width:1500px;
    width:1130px;
    height:350px;
    font-size:16px;
}

.orders-table{
    font-size: 20px;
    margin-bottom: 90px;
}
/*D3*/

path.slice{
    stroke-width:2px;
}
polyline{
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}
svg text.percent{
    fill:white;
    text-anchor:middle;
    font-size:12px;
}

.donut-color-canvas{
    border:1px solid #000000;
    height: 15px;
    width: 15px;
}


/*ddumm*/
.axis path, .axis line
{
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}

.axis text
{
    font-family: 'Arial';
    font-size: 13px;
}
.tick
{
    stroke-dasharray: 1, 2;
}
.bar
{
    fill: FireBrick;
}

.chart-column{
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

@-webkit-keyframes thumb {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(0.9); }
    100% { -webkit-transform: scale(1); }
}

.book-card-animation div:hover
{
    -webkit-animation-name: thumb;
    -webkit-animation-duration: 450ms;
    -webkit-transform-origin:50%;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}

.multi-col{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

